<div class="section" id="gallery">
  <div class="container">
    <h3 class="h2 page-header">{{ section.title }}</h3>
  {% assign gallery = (site.gallery | where: 'published', 1 | sort: 'order') %}
    <div class="row equal">
      {% for item in gallery %}
      {% if item.category == 'photos' %}
        {% capture url %}{{ site.url }}{{ item.url }}{% endcapture %}
        {% capture thumb %}{{ site.cdn | replace: '0x0', '300x168'}}{{ item.image }}{% endcapture %}
      {% elsif item.category == 'videos' %}
        {% assign video = (item.youtube | split: 'v=') %}
        {% if video[1] contains '&' %}
          {% assign video = (video[1] | split: '&') %}
          {% capture id %}{{ video[0] }}{% endcapture %}
        {% else %}
          {% capture id %}{{ video[1] }}{% endcapture %}
        {% endif %}
        {% capture url %}{{ item.youtube }}" data-toggle="lightbox{% endcapture %}
        {% capture thumb %}{% if item.image %}{{ site.cdn | replace: '0x0', '300x168'}}{{ item.image }}{% else %}//img.youtube.com/vi/{{ id }}/0.jpg{% endif %}{% endcapture %}
      {% endif %}
      <div class="col-sm-4 col-md-3"><a class="thumb" href="{{ url }}" >
        <figure>
          <div class="thumb-wide img" style="background-image: url({{ thumb }})"></div>
        </figure>
        {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
        {{ item.content }}
      </a><br></div>
      {% endfor %}
    </div>
  </div>
</div>