<div id="{{ include.id }}" class="fh">  
  <div id="carousel" class="carousel slide fh" data-ride="carousel" data-pause="false">
  <!-- Indicators -->
    <!--div class="container rel">
      <ol class="carousel-indicators">
        {% capture i %}0{% endcapture %}
        {% for item in include.category %}
        <li data-target="#carousel" data-slide-to="{{i}}" class="{% if {{i}} == '0' %}active{% endif %}"></li>
        {% capture i %}{{ i | plus:1 }}{% endcapture %}
        {% endfor %}
      </ol>
    </div-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner fh">
      {% capture i %}0{% endcapture %}
      {% for item in include.category %}
      <div class="item fh {% if {{i}} == '0' %}active{% endif %}">
        <div class="banner" style="background-image: url({{ site.cdn | replace: '0x0', '1280x720'}}{{ item.image }})"></div>
      </div>
      {% capture i %}{{ i | plus:1 }}{% endcapture %}
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
